<% @shops.each do |shop| %>
  <div class="col-md-6 mb-3"> <!-- カラム幅を調整 -->
    <div class="card">
      <div class="card-body">
        <h3 class="card-title">
          <%= link_to shop.name, shop.url, target: "_blank", class: "card-title-link" %>
        </h3> 
        <p class="card-text">
          <strong>営業時間:</strong> <%= shop.opening_time.strftime('%H:%M') %>〜<%= shop.closing_time.strftime('%H:%M') %><br>
          <strong>定休日:</strong> <%= shop.holiday %><br>
          <strong>タグ:</strong> 
          <% shop.tags.each do |tag| %>
            <span class="badge badge-danger"><%= tag.name %></span>
          <% end %>
          <br>
        </p>
        
      </div>
    </div>
    <div class="button-group">
          <%= link_to '編集', edit_admin_shop_path(shop), class: 'btn btn-primary' %>
          <%= link_to '削除', admin_shop_path(shop), method: :delete, data: { confirm: '本当に削除しますか？' }, class: 'btn btn-danger' %>
        </div>
  </div>
<% end %>