<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>店舗情報編集</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <%= stylesheet_link_tag 'application' %>
</head>

<body>
  <h2 class="text-center">店舗情報編集画面</h2>
  <div class="top-button-container">
    <%= link_to 'TOP', admin_dashboard_index_path, class: 'btn btn-info float-right' %>
  </div>

  <div class="container mt-4">
  <%= form_with model: @shop, url: admin_shop_path(@shop), local: true do |f| %>
    <div class="form-group">
      <%= f.label :name, "店舗名" %>
      <%= f.text_field :name, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= f.label :url, "URL" %>
      <%= f.text_field :url, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= f.label :opening_time, "営業時間" %>
      <%= f.time_select :opening_time, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= f.label :closing_time, "閉店時間" %>
      <%= f.time_select :closing_time, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= f.label :holiday, "定休日" %>
      <div>
      <% holidays = @shop.holiday.present? ? @shop.holiday.split(",") : [] %> <!-- 既存の定休日を取得して配列に変換 -->
      <% ["月曜日", "火曜日", "水曜日", "木曜日", "金曜日", "土曜日", "日曜日", "不定休", "ー"].each do |day| %>
        <div class="form-check">
          <%= check_box_tag "shop[holidays][]", day, holidays.include?(day), class: "form-check-input" %>
          <%= label_tag day, day, class: "form-check-label" %>
        </div>
        <% end %>
      </div>
    </div>
    <div class="form-group">
      <%= f.label :tags, "タグ" %>
      <% Tag.all.each do |tag| %>
        <div>
          <%= check_box_tag "shop[tag_ids][]", tag.id, @shop.tag_ids.include?(tag.id) %>
          <%= label_tag "shop_tag_ids_#{tag.id}", tag.name %>
        </div>
      <% end %>
    </div>
    <%= f.submit "保存", class: "btn btn-primary" %>
  <% end %>
</div>
</body>