<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>店舗情報登録</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <%= stylesheet_link_tag 'application', media: 'all' %>
  </head>
<body>
  <h2 class="text-center">店舗登録画面</h2>
  <div class="top-button-container">
    <%= link_to 'TOP', admin_dashboard_index_path, class: 'btn btn-info float-right' %>
  </div>

  <div class="container mt-4">
    <%= form_with model: @shop, url: shops_path, local: true do |f| %>
      <div class="form-group">
        <%= f.label :name, "店舗名" %>
        <%= f.text_field :name, class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label :url, "URL" %>
        <%= f.text_field :url, class: "form-control" %>
      </div>
      <div class="form-group">
  <div class="time-select-container">
    <%= f.label :opening_time, "開店時間" %>
    <%= f.time_select :opening_time, { default: Time.zone.parse("09:00") }, { class: "form-control time-select-box" } %>
  </div>
</div>
<div class="form-group">
  <div class="time-select-container">
    <%= f.label :closing_time, "閉店時間" %>
    <%= f.time_select :closing_time, { default: Time.zone.parse("17:00") }, { class: "form-control time-select-box" } %>
  </div>
</div>
<div class="form-group">
<%= f.label :holiday, "定休日" %>
<div>
<% ["月曜日", "火曜日", "水曜日", "木曜日", "金曜日", "土曜日", "日曜日", "不定休"].each do |day| %>
  <div class="form-check">
    <%= f.check_box :holidays, { multiple: true, class: "form-check-input" }, day, nil %>
    <%= f.label day, day, class: "form-check-label" %>
  </div>
<% end %>
</div>
</div>
      <div class="form-group">
        <%= f.label :tags, "タグ" %>
        <div>
          <% Tag.all.each do |tag| %>
            <div class="form-check">
              <%= check_box_tag 'shop[tag_ids][]', tag.id, @shop.tags.include?(tag), class: "form-check-input" %>
              <%= label_tag "shop_tag_ids_#{tag.id}", tag.name, class: "form-check-label" %>
            </div>
          <% end %>
        </div>
      </div>
      <div class="text-center">
      <%= f.submit "登録", class: "btn btn-primary" %>
      </div>
      <% end %>
  </div>
</body>
</html>
